:host {
  display: block;
  padding: 40px 156px 48px 156px;
}

.block-preview {
  display: flex;
  align-items: center;
  padding: 8px 0;
  gap: 12px;
}

.preview-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #11397e;
}

.preview-img {
  width: 24px;
  height: 24px;
}

.button-block {
  display: flex;
  gap: 40px;
}

.button {
  width: 126px;
  height: 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #11397e;
  background-color: transparent;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button-add {
  width: 171px;
  border: 1px solid #11397e;
}

.button-buy {
  background-color: #11397e;
  color: #ffffff;
}

.block-orders {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
