<div class="block-preview">
  <img src="../../../../assets/preview.svg" class="preview-img" />
  <p class="preview-text">Summary</p>
</div>

<div class="block-orders">
  <ng-container *ngIf="flightDetailsDeparture$ | async as flightDetails">
    <app-order-card [flightDetails]="flightDetails"></app-order-card>
  </ng-container>

  <ng-container *ngIf="flightDetailsDestination$ | async as flightDetails">
    <app-order-card [flightDetails]="flightDetails"></app-order-card>
  </ng-container>
</div>

<div>
  <p>конечная стоимость</p>
</div>

<div class="button-block">
  <button class="button-back button" (click)="toBack()">Back</button>
  <button class="button-add button">Add to order cart</button>
  <button class="button-buy button">Buy now</button>
</div>
