:host {
  display: block;
  max-width: 551px;
}

.block-order-details {
  background: #f1f3f6;
  padding: 22px 24px;

  .flight-name {
    display: flex;
    gap: 20px;
    color: #000000;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .flight-timestamp {
    display: flex;
    gap: 36px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .flight-number {
    color: #11397e;
  }
}
