<div class="cart-wrapper">
  <div class="user-cart-container">
    <p class="user-cart-title">User Account</p>
    <ng-container *ngIf="orders$ | async as orders">
      <app-table-header
        [visibilitySelection]="true"
        [orders]="orders"
        (sendSelect)="selectOrder($event)"
      ></app-table-header>
      <div class="block-cart-result">
        <p class="cart-add-trip">+ Add new trip</p>
        <div class="block-cart-total-cost">
          <p class="cost-title">Total:</p>
          <p class="cost-number">
            {{
              getTotalCost(orders) * format.getIndex()
                | currency : format.currency : "symbol-narrow" : "1.2-2"
            }}
          </p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
