<div class="flight-info" *ngIf="(searchForm$ | async) as searchForm">
  <p class="flight-info-destinations"> {{searchForm.departure}} <img src="../../../../assets/return-trip.svg" alt="return icon"> {{searchForm.destination}}</p> <p class="flight-info-date">{{searchForm.start!.toLocaleDateString('en-US', {day: 'numeric', month: 'long'})}} - {{searchForm.end!.toLocaleDateString('en-US', {day: 'numeric', month: 'long'})}}</p> <p class="flight-info-passengers">{{mainService.getPassengersCount()}}</p>
  <button class="flight-info-edit-btn">edit</button>
</div>
