<div class="wrapper-footer">
  <p class="text">© 2023, AIRWAY. All rights reserved.</p>

  <div class="block-payment">
    <p class="text">We accept these payment methods</p>
    <div class="block-payment-icons">
      <img src="../../../../assets/mastercard-icon.svg" alt="mastercard" />
      <img src="../../../../assets/amazon-icon.svg" alt="amazon" />
      <img src="../../../../assets/express-icon.svg" alt="express" />
      <img src="../../../../assets/visa-icon.svg" alt="visa" />
    </div>
  </div>
</div>
